@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  border: none;
}

body {
  background: #484848;
  user-select: none;
}

.wrapper {
  position: absolute;
}

.wrapper .sidebar {
  background: #343434;
  position: fixed;
  top: 0;
  left: 0;
  width: 225px;
  height: 100%;
  padding: 20px 0;
  transition: all 0.5s ease;
  border-right: 2px solid #25C0FF;
}

.wrapper .sidebar .profile {
  margin-bottom: 30px;
  text-align: center;
}

.wrapper .sidebar .profile img {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto;
}

.wrapper .sidebar .profile h3 {
  color: #ffffff;
  margin: 10px 0 5px;
}

.wrapper .sidebar .profile p {
  color: rgb(206, 240, 253);
  font-size: 14px;
}


.wrapper .sidebar ul li a,
#next {
  display: block;
  padding: 13px 30px;
  /* border-bottom: 1px solid #25C0FF; */
  color: white;
  font-size: 16px;
  position: relative;
}


.wrapper .sidebar ul li a:hover,
#next:hover,
.wrapper .sidebar ul li a.actice,
#next.active {
  color: #25C0FF;

  background: white;
  border-right: 2px solid #25C0FF;
}

.wrapper .sidebar ul li a:hover .icon,
#next:hover .icon,
.wrapper .sidebar ul li a.active .icon,
#next.active .icon {
  color: #25C0FF;
}

.wrapper .sidebar ul li a:hover:before,
#next:hover::before,
.wrapper .sidebar ul li a.active:before,
#next.active::before {
  display: block;
}






@keyframes display {
  0% {
    transform: translateX(0px);
    opacity: 0;
  }

  10% {
    transform: translateX(0);
    opacity: 1;
  }

  33% {
    transform: translateX(0);
    opacity: 1;
  }

  43% {
    transform: translateX(-200px);
    opacity: 0;
  }

  100% {
    transform: translateX(-200px);
    opacity: 0;
  }
}

.pic-ctn {
  position: static;
  float: left;
  width: 100%;
  height: 100%;
  z-index: -3;
}


.pic-ctn>img {
  box-sizing: 1px;
  z-index: -3;
  position: absolute;
  width: 100%;
  opacity: 0;
  animation: display 24s infinite;
}

img:nth-child(2) {
  animation-delay: 8s;
}

img:nth-child(3) {
  animation-delay: 16s;
}




@keyframes text {
  0% {
    transform: translateX(-100px);
    opacity: 0;
    color: white;
  }

  10% {
    transform: translateX(0);
    opacity: 1;
  }

  33% {
    transform: translateX(0);
    opacity: 1;
    color: white;
  }

  43% {
    transform: translateX(200px);
    color: transparent;
    opacity: 0;
  }

  100% {
    transform: translateX(200px);
    opacity: 0;
  }
}

.text-ctn {
  background-color: transparent;
  position: static;
  width: 100%;
  z-index: 3;
}

.text-ctn>div {
  background-color: transparent;
  text-align: right;
  color: white;
  position: absolute;
  width: 25%;
  top: 350px;
  left: 100px;
  opacity: 0;
  animation: text 24s infinite;
}

.text-ctn>div:nth-child(2) {
  animation-delay: 8s;
}

.text-ctn>div:nth-child(3) {
  animation-delay: 16s;
}

.text-ctn>div>p {
  font-size: 32px;
}

.text-ctn>div>p:last-child {
  font-size: 16px;
}


.carousel {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 225px;
  z-index: -1;
  background-color: transparent;
}

#fleche {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  background-color: gray;
  border-radius: 50%;
  color: white;
  font-size: 24px;
  text-align: center;
  line-height: 50px;
  z-index: 999;
}

#next {
  background-color: transparent;
}

@keyframes slideOutLeft {
  from {
      transform: translateX(0%);
  }
  to {
      transform: translateX(100%);
  }
}


@keyframes slideInRight {
  from {
      transform: translateX(-100%);
  }
  to {
      transform: translateX(0%);
  }
}

#carrousel.slide {
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-name: slideOutLeft;
}


#carrousel.slide.next {
  animation-name: slideInRight;
}