body {
  background-color: #242424;
  user-select: none;
  font-family: Roboto, sans-serif;
  overflow: hidden;
}

h1 {
  text-align: center;
  color: #fff;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  background-color: #1a1a1a;
  box-shadow: 0 0 20px #25C0FF;
  border: 2px solid #25C0FF;
  border-radius: 15px;
  text-align:   center;
  color: #fff;
  flex-direction: column;
  justify-content: center;
  height: 98.5vh;
  background-color: #333333;
  margin-top: 20px;
}

ul {
  list-style:none;
}

li {
  margin-top: 20px;
}
