body {
    font-family: Roboto, sans-serif;
    background-color: #242424;
}

#grille {
    width: 400px;
    height: 400px;
    background-color: #979dac;
    border: 6px solid #5c677d;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    border-radius: 2%;
    position: relative;
    visibility: visible;
}
  
  #health {
    font-size: 30px;
    color: grey;
    text-align: center;
    z-index: 999;
  }
  
  #score {
    font-size: 30px;
    color: grey;
    text-align: center;
  }
  
  #lives {
    font-size: 30px;
  }
  
  #lives.green {
    color: green;
  }
  
  #lives.orange {
    color: orange;
  }
  
  #lives.red {
    color: red;
  }
  
  #lives.black {
    color: black;
  }
  
  #racket {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transform-origin: center center;
  }



#title {
    text-align: center;
    color: #d2f3fa;
    font-size: 50px;
}

#left-container {
    text-align: center;
    color: #d2f3fa;
    margin-right: 25%;
    margin-top: 7%;
}

#right-container {
    display: flex;
    justify-content: flex-end;
    color : #d2f3fa;
    margin-right: 25%;
    margin-top: -24%;
}

