body {
  user-select: none;
  font-family: Roboto, sans-serif;
  background-color: #242424;
}
/*Buttons*/
ul {
  list-style-type: none;
}



.difficulty-level-buttons, #rule-buttons {
  align-items: center;
  appearance: button;
  background-color: #0077b6;
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  margin-top: 20px;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.difficulty-level-buttons:focus,.button-index:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.difficulty-level-buttons:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.difficulty-level-buttons:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

/*---------------------------------------------------------*/

/*Barre de séparation*/

#separation-bar {
  width: 4px;
  height: 450px;
  background-color: #00b4d8;
  border-radius: 20px;
  margin: auto;
  margin-right: 5%;
  margin-top: -2.35%;

}

/*---------------------------------------------------------*/
/*Link Rules*/

#link-rule {
  text-decoration: none;
}

#bouttons, .bouton-select {
  background: none;
  font-size: 30px;
  color: #d2f3fa;
  font-weight: bold;
  cursor: pointer;
  letter-spacing: 10px; 
  text-align: center  ;
}

.bouton-select:hover {
  background-color: rgba(128, 128, 128, 0.5);
  letter-spacing: 2px;
  }

.bouton-select:active {
  animation: ressort 0.3s ease-out;
}

@keyframes ressort {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

.text-align {
  text-align: center;
  }

.button-index {
  align-items: center;
  appearance: button;
  background-color: #0077b6;
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
  color: #fff;
  cursor: pointer;
  justify-content: center;
  line-height: 1;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: fixed;
  text-decoration: none;
  user-select: none;
  white-space: nowrap;
  font-size: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.2s;
}

a {
  text-decoration: none;
}