body {
    font-family: Roboto, sans-serif;
    background-color: #242424;
}

#title {
    text-align: center;
    color: #d2f3fa;
    font-size: 50px;
}

#left-container {
    text-align: center;
    color: #d2f3fa;
    margin-right: 25%;
    margin-top: 7%;
}

#right-container {
    display: flex;
    justify-content: flex-end;
    color: #d2f3fa;
    margin-right: 25%;
    margin-top: -24%;
}

#grille {
    width: 400px;
    height: 400px;
    background-color: #979dac;
    border: 6px solid #5c677d;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    border-radius: 2%;
    position: relative;
    visibility: visible;
}

.tuile {
    width: 43.12px;
    height: 43.12px;
    border: 3px solid #7d8597;
    font-size: 25px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2%;

}

.tuile-fixe {
    color: #246080;
}

.tuile:nth-child(3n+1) {
    border-left: 3px solid #242424;

}

.tuile:nth-child(3n) {
    border-right: 3px solid #333;
}
.tuile:nth-child(n+1):nth-child(-n+9),
.tuile:nth-child(n+28):nth-child(-n+36),
.tuile:nth-child(n+55):nth-child(-n+63) {
    border-top: 3px solid #333;
}

.tuile:nth-child(n+19):nth-child(-n+27),
.tuile:nth-child(n+46):nth-child(-n+54),.tuile:nth-child(n+73):nth-child(-n+81)
{
border-bottom: 3px solid #333;
}