<!DOCTYPE html>
<html lang="fr">

<head>
    <title>Rayy : 2048</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../css/2048.css">
    <link rel="stylesheet" href="../../css/accueil.css">
    <link rel="stylesheet" href="../../css/menu.css">
    <link rel="stylesheet" href="../../css/miscellaneous.css">
    <link rel="preconnect" href="https://fonts.googleapis.com/%22%3E">
    <link rel=" preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap" rel="stylesheet">
</head>

<body>
    <h1 id="title">2048</h1>
    <div class="wrapper">
        <!--Top menu -->
        <div class="sidebar">
            <div class="profile">
                <a href="../../index.html"> <img src="../../lib/img/logo.png" alt="profile_picture"></a>
                <h3>Rayyyy Games</h3>
                <p></p>
            </div>
            <div>
                <ul>
                    <li>
                        <a href="../view/accueil.html">
                            <span class="item">Menu</span>
                        </a>
                    </li>
                    <li>
                        <a href="../view/sudoku.html">
                            <span class="item">Sudoku</span>
                        </a>
                    </li>
                    <li>
                        <a href="../view/greenBall.html">
                            <span class="item">Green Ball</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="left-container">
        <h2>Score : <span id="score">0</span></h2>
        <div id="grille">
        </div>
        <div id="menu">
            <form>
                <label for="text-input">Entrez votre pseudo :</label>
                <input type="text" id="text-input" name="text-input">
                <input type="submit" value="Enregistrer mon score !" id="menu-buttons">
            </form>
        </div>
        <a href="/html/regles/regle2048.html" id="link-rule"><button id="rule-buttons">Règles</button></a>
    </div>
    <div id="right-container">
        <div id="separation-bar"></div>
        <ul>
            <li>
                <h2>
                    <div id="timer-display">Temps restant : 0</div>
                </h2>
            </li>
            <li>
                <h2>Niveaux de Difficultés : </h2>
            </li>
            <li><button class="difficulty-level-buttons">Facile</button></li>
            <li><button class="difficulty-level-buttons">Moyen</button></li>
            <li><button class="difficulty-level-buttons">Difficile</button></li>
        </ul>
    </div>
</body>
<script src="../../js/controller/checkAchievement.js"></script>
<script src="../../js/controller/ControllerChrono.js"></script>
<script src="../../js/model/leaderboard.js"></script>
<script src="../../js/controller/RandTuile.js"></script>
<script src="../../js/controller/move2048.js"></script>
<script src="../../js/controller/MenuJeu.js"></script>
<script src="../../js/model/grille2048.js"></script>

</html>